:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 
    The COC Communications Guide has approved these hex codes to represent COC in publications.

    Link: https://issuu.com/cocpio/docs/coc_communications_guide_081517?e=25409524/52267472
  */
  --COC-Yellow: #ffcb00;
  --COC-Blue: #003e74;
  --COC-LightBlue: #0057a3;
}

a {
  font-weight: 500;
  color: var(--COC-LightBlue);
  text-decoration: inherit;
}
a:hover {
  color: var(--COC-Blue);
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f6f7ff;
}

#root {
  min-height: 100vh;
}