.WelcomePage {
    position: relative;
    background-image: radial-gradient(circle at center, var(--COC-LightBlue), var(--COC-Blue));
    animation: backgroundEnter 0.8s forwards;
    box-shadow: 0 0px 10px #0006;
}

@media (min-width: 768px) {
    .WelcomePage {
        height: 90vh;
    }
}
@media (max-width: 768px) {
    .WelcomePage {
        height: 75vh;
    }
}

.WelcomeTitle {
    color: #fff;
    font-size: calc(1rem + 2vw);
    font-weight: 600;
    text-align: center;
    text-wrap: balance;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    animation: titleEnter 0.66s ease-out;
}

@keyframes titleEnter {
    from{
        top: calc(50% + 1em);
        color: #fff0;
    }
    to{
        top: 50%;
        color: #fff;
    }
}

@keyframes backgroundEnter {
    from{
        background-color: var(--COC-LightBlue);
    }
    to{
        background-color: var(--COC-Blue);
    }
}