.WelcomePage {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 75vh;
    background-image: radial-gradient(circle at center, #ffffff00, #081a72);
    animation: backgroundEnter 0.8s forwards;
    box-shadow: 0 0px 10px #0006;
}

.WelcomeTitle {
    color: #fff;
    font-size: calc(1rem + 2vw);
    font-weight: 600;
    text-align: center;
    text-wrap: balance;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    animation: titleEnter 0.66s ease-out;
}

@keyframes titleEnter {
    from{
        top: calc(50% + 1em);
        color: #ffffff00;
    }
    to{
        top: 50%;
        color: #fff;
    }
}

@keyframes backgroundEnter {
    from{
        background-color: #081a72;
    }
    to{
        background-color: #0f2699;
    }
}