.WhatWeDo {
    padding: 2rem 1rem;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 150%);
}
@media(min-width: 768px) {
    .WhatWeDo {
        padding: 4rem;
    }
}
@media(min-width: 992px) {
    .WhatWeDo {
        padding: 8rem;
    }
}
@media(min-width: 1200px) {
    .WhatWeDo {
        padding: 6rem 12rem;
    }
}


.WhatWeDoTeamImg {
    display: block;
    margin: auto;
    margin-top: 1rem;
    max-width: 400px;
    border-radius: 25%;
    box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
    .WhatWeDoTeamImg {
        margin: 1rem;
        width: 50%;
    }
}

.WhatWeDoTeam {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
@media (min-width: 768px) {
    .WhatWeDoTeam {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.WhatWeDoTeamText {
    width: 75%;
}
.WhatWeDoTeamText > h2{
    text-align: center;
}
@media (min-width: 768px) {
    .WhatWeDoTeamText {
        width: 100%;
    }
    .WhatWeDoTeamText > h2{
        text-align: left;
    }
}