.MenuBtn {
    all: unset;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    margin: 15px 15px 0 0;
    cursor: pointer;

    z-index: 30;
}

.MenuIcon {
    position: absolute;
    top: 0;
    height: 40px;
    transition: opacity ease-out 150ms;
}

.Menu {
    position: fixed;
    top: 0;
    z-index: 20;
    transition: right ease-out 150ms;
}

@media (min-width: 768px) {
    .MenuBtn, .Menu {
        visibility: hidden;
    }
}

.MenuSection {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    padding: calc(55px + 0.5em) 0.8em 0.5em 0.8em;
    background-color: var(--COC-Blue);
    box-shadow: 0 0px 10px #0006;

    user-select: none;
}

.MenuItems, .MenuItems:hover {
    text-align: center;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 0.5em;

    color: #fff;
    text-shadow:
        1px 1px 1px var(--COC-Blue),
        0px 0px 2px var(--COC-Blue);
    transition: background-color, box-shadow 150ms;
}
.MenuItems:hover {
    background-color: #fff2;
}