.EventsPage {
    width: calc(90%);
    margin: auto;
}
.EventTitle { 
    color: #1D319D;
    font-size: 32px;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(212, 217, 226);
}
.EventList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    gap: 2vh;
}
.EventCard {
    width: 95%;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 125px;
    background-color: #F8F8F8;
    box-shadow: 0px 2px 5px 1px rgb(192, 196, 204);
}
.EventCardText {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    margin-bottom: 1.25em;
}
.EventCardName {
    font-size: 28px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: 600;
}
