.Foot {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-image: linear-gradient(to right, #5a2fd0, #1830b370 );

}

.FootContainer {
    padding-left: 40px;
    padding-right: 40px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.FootTitleButton {
    cursor: pointer;
}
.FootTitle {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
.FootTitle:hover {
    color: #fff;
}

.NavItems {
    color: #fff;
}
