.Foot {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    /* background-imagrgb(24, 47, 179)-gradient(to right, #5a2fd0, #1830b370 ); */
    background-color: white;
    border-bottom: 2px solid var(--COC-Blue);
}

.FootContainer {
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.NavItems {
    color: var(--COC-Blue);
}
