.Header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    z-index: 99;
}

.HeaderBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to top, #081a72, #0c2083 50%, #0d2189); */
    background-color: var(--COC-Blue);
    box-shadow: 0 0px 10px #0006;
}

.headerbg-enter {
    opacity: 0;
}
.headerbg-enter-active {
    opacity: 1;
    transition: 400ms 100ms; 
}
.headerbg-exit {
    opacity: 1;
}
.headerbg-exit-active {
    opacity: 0;    
    transition: 100ms;
}

.HeaderContainer {
    position: relative;
    height: 100%;
    padding-left: calc(2vw - 0.75em);
    padding-right: calc(2vw - 0.5em);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    user-select: none;
    z-index: 100;
}

.HeaderTitle {
    cursor: pointer;
    padding: 0.75em;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow:
        2px 2px 20px #081868,
        -2px 2px 20px #081868,
        -2px -2px 20px #081868,
        2px -2px 20px #081868;
}
.HeaderTitle, .HeaderTitle:hover {
    color: #fff;
}

.NavItems {
    padding: 0.5em;
    text-shadow:
        3px 3px 10px #081868,
        -3px 3px 10px #081868,
        -3px -3px 10px #081868,
        3px -3px 10px #081868;
}
.NavItems, .NavItems:hover {
    color: #fff;
}
