.Projects {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.ProjectsTitle {
    color: var(--COC-Blue);
    font-size: calc(1em + 1.5vw);
    text-align: center;
    padding-top: 2rem;
}

.ProjectCard {
    background: linear-gradient(white, rgb(228, 228, 228));
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.3);
}

@media (max-width: 768px) {
    .Projects {
        flex-direction: column;
        flex-wrap: nowrap; 
    }
    .ProjectCard {
        width: 90%; 
        margin: auto;
    }
}

@media (min-width: 768px) {
    .Projects {
        flex-direction: row;
        flex-wrap: wrap;
    }   
    .ProjectCard {
        width: 33%;
    }
}

@media (min-width: 992px) {
    .ProjectCard {
        width: 25%;
    }
}

.ProjectCard > img {
    width: 100%;
    height: 300px;

    display: block;

    margin: auto;
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}